*{
    font-family: "inter";
    margin: 0px;
}

#MenuSuperior{
    background-color: #303030;
    margin:0px;
}

#tituloh1{
    color: white;
    margin-left: 40px;
    padding-top: 150px;
    font-size: 50px;
}

#subtituloP{
    color: white;
    margin-left: 40px;
    padding-bottom: 150px;
    padding-top: 20px;
    font-size: 20px;
}

#menusubtitulo{
    display:grid;
    grid-auto-flow: column;
    columns: auto;
    background-color: #F9F9F9;
    padding-top: 30px;
    padding-bottom: 20px;
}

.imgsub{
    padding: 50px;
}

#sessaoinformativa{
    display:grid;
    grid-auto-flow: column;
    columns: auto;
    padding-bottom: 20px;
}

#texto-informativo{
    margin: 200px 20px 0px 75px;
    font-size: 20px;
}

#tituloh2{
    font-size: 35px;
    padding-bottom: 40px;
}

#imgreferencia{
    margin-left: 50px;
    margin-bottom: 40px;
    width: 455px;
    padding-bottom: 0px;
    margin-right: 0;
    margin-top: 50px;   
}

#formulario{
    text-align: center;
    background-color: #303030;
    padding-top: 10px;
}

#texto-formulario{
    color:#FFFFFF;
    padding-top: 60px;
    font-size: 30px;
    padding-bottom: 20px;
}

input{
    width: 400px;
    height: 50px;
    padding-left: 20px;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    font-family: "raleway", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

.input{
    margin-bottom: 20px;
}

button{
    background-color: #C07212;
    width:200px;
    height: 50px;
    margin-top: 30px;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 20px;
    border: 0px;
    margin-bottom: 50px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    transform: translateY(-7px);
    transition-duration: 0.4;
    background-color: #b88d31;
    color: white;
    box-shadow: 0px 10px 10px 0px #051030;
}